.message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.messageTop {
  display: flex;
}

.messageText {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #1877f2;
  color: white;
  max-width: 300px; 
}

.messageBottom {
  font-size: 0.8rem;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}
